.block4-grid__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}
@media screen and (max-width: 450px) {
  .block4-grid__title{
    font-size: 20px;
    line-height: 26px;
  }
}
