#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 50px;
  width: 46px;
  height: 37px;
}

@media screen and (max-width: 456px) {
  .hamburger-menu {
    margin-right: 16px;
  }
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  width: 46px;
  height: 37px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 4px;

  background-color: #ffffff;

  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -16px;
}

.menu__btn>span::after {
  content: '';
  top: 16px;
}

.menu__box {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 132px;
  padding: 20px 0;
  list-style: none;
  background-color: #000000;
  box-shadow: 1px 0px 6px rgba(255, 255, 255, 0.2);
  transition-duration: .25s;
  overflow-y: scroll;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #ffffff;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

@media screen and (max-width: 768px) {
  .menu__box {
    margin-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .menu__box {
    margin-top: 70px;
  }
}

.price-sale3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
}

.price-sale3__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 111px;
  margin-bottom: 67px;
}

.price-sale3__blocks {
  display: flex;
  flex-direction: row;
  margin-left: 51px;
  margin-right: 45px;
}

.price-sale3__block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 1px 50px 10px rgba(255, 255, 255, 0.25);
  border-radius: 48px;

}

.price-sale3__block2 {
  border: 3px solid #FFFFFF;
  box-shadow: 0px 1px 50px 10px rgba(255, 255, 255, 0.25);
  border-radius: 48px;
  box-sizing: border-box;
  width: 1142px;
  margin-left: 67px;
}

.price-sale3__lists {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 193.02%;
  color: #FFFFFF;
  padding-left: 0;
  margin-top: 21px;
  padding-left: 77px;
  padding-right: 88px;
  width: 258px;
}

.price-sale3__list {}

.price-sale3__lists2 {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 193.02%;
  color: #FFFFFF;
  margin-left: 24px;
  padding-left: 20px;
  max-width: 1100px;
}

.price-sale3__list2 {}

.live {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.live__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 41px;
}

.live__subtitle {
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  max-width: 1504px;
  margin-top: 15px;
}

.live__blocks {
  display: flex;
  flex-direction: row;
  width: calc(100% - 52*2px);
  margin: 0 auto;
  margin-top: 19px;
}

.live__block1 {
  display: flex;
  flex-direction: column;
}

.live__items {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.live__items-image {
  width: 72px;
  height: 108px;
  margin-right: 28px;
  object-fit: contain;
  object-position: center;
}
.live__items-image2 {
  width: 64px;
  height: 108px;
  margin-right: 28px;
  margin-left: 150px;
}

.live__items-image-big {
  width: 142px;
  height: 108px;
  object-fit: cover;
  margin-right: 28px;
  margin-left: 70px;
}

.live__items-text {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  max-width: 641px;
}

.live__block2 {

}

.live__bottom {
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  max-width: 996px;
  margin-top: 34px;
  margin-bottom: 57px;
}
