.header__link {
  width: 166px;
  height: 132px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .header__link {
    width: 120px;
    height: 90px;
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .header__link {
    width: 100px;
    height: 70px;
    margin: 0;
  }
}
