.header__email{
  margin: 0;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header__email{
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (max-width: 566px) {
  .header__email{
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 375px) {
  .header__email{
    font-size: 16px;
    line-height: 22px;
  }
}
