.block4-grid__text{
  margin-right: 50px;
}
@media screen and (max-width: 570px) {
  .block4-grid__text{
    margin-right: 20px;
  }
}
@media screen and (max-width: 430px) {
  .block4-grid__text{
    margin-right: 0;
    width: 100%;
  }
}
