.block4__image{
  width: 62px;
  height: 64px;
  margin-right: 102px;
  margin-left: 50px;
}
.block4__image1{
  width: 42px;
  height: 64px;
  margin-right: 122px;
  margin-left: 50px;
}
.block4__image2{
  width: 40px;
  height: 64px;
  margin-right: 122px;
  margin-left: 50px;
}
