.sale__footer {
  margin: 0 auto;
  width: calc(100% - 30*2px);
  margin-top: 54px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
@media screen and (max-width: 1000px) {
  .sale__footer{
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}
