.block6-photo__button {
  margin-top: 52px;
  background: white;
  border-radius: 32px;
  border: none;
  width: 284px;
  height: 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: black;
}

.block6-photo__button:hover {
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .block6-photo__button{
    margin-bottom: 30px;
  }
}
