.price__footer2 {
  margin: 0 auto;
  width: 318px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 29px;
}
@media screen and (max-width: 1000px) {
  .price__footer2{
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
  }
}
